.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
}

.nav img{
   margin: 16px 346px 16px 120px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul .li{
    font-size: 16px;
    font-weight: 500;
    margin-right: 32px;
    
}

.btn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    background-color: #469165;
    margin-left: 346px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: brown;
}

.intro{
    width: 100%;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.info-container{
  width: 1360px; 
  text-align: center; 
  margin: 115px 120px 180px 120px;
}

.h3{
    font-size: 16px;
    font-weight: 500;
    color: #276941;
    padding: 8px 12px 8px 10px;
    background:#FFFFFF;
    border-radius: 1000px;
}

.h1{
    color: #FFFFFF;
    font-size: 72px;
}

.h11{
    color: #30B868;
    font-size: 72px;
}

.p1{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
}

.p2{
   color: #FFFFFF;
   font-size: 18px;
   margin-bottom: 32px; 
}

.btn2{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px;
    border-radius: 4px;
    cursor: pointer;
    background: #30B868;
}

.btn3{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px;
    margin-left: 16px;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    background: none;
}

.note-container{
    width: 1360px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
}

.note-info h1{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.note-info p{
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.note-card{
   width: 1360px; 
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
   text-align: center;
   gap: 86px;
}

.card-info img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-top: 70px;
}

.card-info h3{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
}

.card-info p{
    font-size: 16px;
    font-weight: 400;
}